.site-footer {
  @extend %padding-regular;
  padding-bottom: 312px;
  display: inline-block;
  width: 100%;
  color: lighten($text-color, 30%);
  font-size: 0.9em;
  ul {
    font-weight: 400;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
    text-align: center;
  }
  li {
    display: inline;
	list-style: none;
    float: center;
    margin-right: 0.4em;
  }
}
