<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Garrison Jensen - $title$</title>
	<link rel="stylesheet" href="/css/tufte.css"/>
	<link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">garrison</a>
            </div>
        </header>
	    <article>
		    <h1>$title$</h1>
		    $body$
	    </article>
        <footer>
        </footer>
    </body>
</html>
