// Typography
$font-family-header: 'Lato', 'Source Sans Pro Light', Helvetica, Arial, sans-serif;
$font-family-text: 'Droid Serif', serif;
$font-size: 1em;
//$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #f6f6f6;
$background-color: #f6f6f6;
$border-color: rgba(0, 0, 0, 0.05); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #B8B8B8;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #373737; 
$header-desc-text-color: #FFF;
